body {
  margin: 0px;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
img,
a {
  margin: 0px;
  padding: 0px;
  cursor: default;
}

p {
  font-size: clamp(16px, 4vw, 22px);
}

h1,
h2,
h3,
h4 {
  font-size: clamp(20px, 4vw, 26px);
}
.leftArrow{
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: var(--darkgreen);
  background-color: var(--lightgreen);
  border-radius: 5px;
  padding: 2.5px;
}

.rightArrow{
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: var(--darkgreen);
  background-color: var(--lightgreen);
  border-radius: 5px;
  padding: 2.5px;
}

.svgIcon {
  width: 30px;
  cursor: pointer;
  padding: 5px;
  background-color: var(--lightgreen);
  border-radius: 5px;
  color: var(--darkgreen);
}
